@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Product List Carousel for Ecommerce Website</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
     /*   body {
            font-family: "Open Sans", sans-serif;
            background-color: #e2f7eb;
        }*/

        body {
            font-family: "Open Sans", sans-serif;
            background: linear-gradient(-45deg, #e2f7eb, #2c3e50);
            background-size: 200% 200%;
            /*animation: gradient 15s ease infinite;*/
            height: 100vh;
        }

        

        h2 {
            color: #000;
            font-size: 26px;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            margin: 30px 0 80px;
        }

            h2 b {
                color: #ffc000;
            }

            h2::after {
                content: "";
                width: 100px;
                position: absolute;
                margin: 0 auto;
                height: 4px;
                background: rgba(0, 0, 0, 0.2);
                left: 0;
                right: 0;
                bottom: -20px;
            }

        .haha {
            background: linear-gradient(-45deg, #fff, #333, #fff);
            background-size: 200% 200%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: gradient 8s ease infinite;
        }

        @@keyframes gradient {
            0% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }

            100% {
                background-position: 0% 50%;
            }
        }

        .carousel {
            margin: 50px auto;
            padding: 0 70px;
        }

            .carousel .item {
                min-height: 330px;
                text-align: center;
                overflow: hidden;
            }

                .carousel .item .img-box {
                    height: 160px;
                    width: 100%;
                    position: relative;
                }

                .carousel .item img {
                    max-width: 100%;
                    max-height: 100%;
                    display: inline-block;
                    position: absolute;
                    bottom: 0;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                }

                .carousel .item h4 {
                    font-size: 18px;
                    margin: 10px 0;
                    background: linear-gradient(45deg, #fff, #e2f7eb);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 300% 300%;
                }

                .carousel .item .btn {
                    color: #333;
                    border-radius: 0;
                    font-size: 11px;
                    text-transform: uppercase;
                    font-weight: bold;
                    background: none;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    padding: 5px 10px;
                    margin-top: 5px;
                    line-height: 16px;
                    transition: all 0.3s;
                }

                    .carousel .item .btn:hover, .carousel .item .btn:focus {
                        color: #fff;
                        background: #323643;
                        border-color: #323643;
                        box-shadow: none;
                    }

                    .carousel .item .btn i {
                        font-size: 14px;
                        font-weight: bold;
                        margin-left: 5px;
                    }

            .carousel .thumb-wrapper {
                text-align: center;
            }

            .carousel .thumb-content {
                padding: 15px;
            }

            .carousel .carousel-control {
                height: 100px;
                width: 40px;
                background: none;
                margin: auto 0;
                background: rgba(0, 0, 0, 0.2);
            }

                .carousel .carousel-control i {
                    font-size: 30px;
                    position: absolute;
                    top: 50%;
                    display: inline-block;
                    margin: -16px 0 0 0;
                    z-index: 5;
                    left: 0;
                    right: 0;
                    color: rgba(0, 0, 0, 0.8);
                    text-shadow: none;
                    font-weight: bold;
                }

            .carousel .item-price {
                font-size: 13px;
                padding: 2px 0;
            }

                .carousel .item-price strike {
                    color: #999;
                    margin-right: 5px;
                }

                .carousel .item-price span {
                    color: #86bd57;
                    font-size: 110%;
                }

            .carousel .carousel-control.left i {
                margin-left: -3px;
            }

            .carousel .carousel-control.left i {
                margin-right: -3px;
            }

            .carousel .carousel-indicators {
                bottom: -50px;
            }

        .carousel-indicators li, .carousel-indicators li.active {
            width: 10px;
            height: 10px;
            margin: 4px;
            border-radius: 50%;
            border-color: transparent;
        }

        .carousel-indicators li {
            background: rgba(0, 0, 0, 0.2);
        }

            .carousel-indicators li.active {
                background: rgba(0, 0, 0, 0.6);
            }

        .star-rating li {
            padding: 0;
        }

        .star-rating i {
            font-size: 14px;
            color: #ffc000;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2><span class="haha">Trending</span>  <b>Products</b></h2>
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview.png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Air Max Trainer 5</h4>
                                            <p class="item-price"><strike>$200.00</strike> <span>$169.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (1).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Air Huarache</h4>
                                            <p class="item-price"><strike>$250.00</strike> <span>$229.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (2).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Go FlyEase</h4>
                                            <p class="item-price"><strike>$200.00</strike> <span>$189.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (3).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Air Force 1 (Blue)</h4>
                                            <p class="item-price"><span>$250.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (4).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Revolution 6</h4>
                                            <p class="item-price"><strike>$198.00</strike> <span>$140.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (5).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Air Force 1</h4>
                                            <p class="item-price"><span>$250.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (6).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Pegasus 39</h4>
                                            <p class="item-price"><strike>$159.00</strike> <span>$130.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (7).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Air Max 270</h4>
                                            <p class="item-price"><strike>$299.00</strike> <span>$269.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (8).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Revolution 6</h4>
                                            <p class="item-price"><strike>$129.00</strike> <span>$100.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (9).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Air Max 90 Futura</h4>
                                            <p class="item-price"><strike>$315.00</strike> <span>$290.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (10).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4>Nike Waffle One SE</h4>
                                            <p class="item-price"><strike>$120.00</strike> <span>$99.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                        <div class="img-box">
                                            <img src="~/Content/images/products/image-removebg-preview (11).png" class="img-responsive" alt="">
                                        </div>
                                        <div class="thumb-content">
                                            <h4> Nike Air Max 95</h4>
                                            <p class="item-price"><strike>$200.00</strike> <span>$289.00</span></p>
                                            <div class="star-rating">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                            <a href="#" class="btn btn-primary">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>                                		